preprocessing_airpollution_data/datos_por_estacion_sin_NaN/
preprocessing_airpollution_data/all_data_2005xstation_31_05_2024/
preprocessing_airpollution_data/data_31May_2024_all_stations.csv
preprocessing_airpollution_data/estacionesTRAFICO.csv
preprocessing_airpollution_data/entrenamiento_datos_por_estacion
preprocessing_airpollution_data/prueba_datos_por_estacion
preprocessing_airpollution_data/datos_por_estacion_pre_processing/
preprocessing_airpollution_data/TRAFFIC_data/
preprocessing_airpollution_data/data_preprocessed_datasets_solotrafico.csv
preprocessing_airpollution_data/info_split_datasets.csv
preprocessing_airpollution_data/info_split_datasets_soloTrafico.csv
data_processing/datos_data_pre-processed.csv
data_processing/datos_data_pre-processedTRAFICO.xlsx
data_processing/datos_por_estacion_pre_processing
data_processing/info_split_datasets.csv
traffic_flow/vector/air_pollutionANDtraffic_data